<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="titulo">SD || Seguimiento Documentos - Revisor Dos </ui:define>

            <!-- 
            <ui:define name="header">
                <ui:include src="template/header.xhtml"/>
            </ui:define>
            -->

            <ui:define name="west">
                <ui:include src="template/ladoIzdo.xhtml"/>
            </ui:define> 

            <ui:define name="contenido" class="BGC">
                <h:form>
                    <div align="right">
                        <p:commandButton value="Salir" action="#{loginBean.logout()}"></p:commandButton>
                    </div>
                </h:form>
                <div align="left" style="background-color: #d6d4d4; align-content:left ;height:30px ;width: 100%">
                    <h:outputLabel class="h1" value="Bienvenido al Módulo de Seguimiento del documento"/>    
                </div>
                <div align="" style="background-color: #f6f6f6; height:100%; width: 100%">
                    <br/>
                    <h:outputLabel class="text" value="A continuación se muestran los documentos a revisar"/>
                    <br/>
                    <br/>                    
                    <h:form id="documentos">
                        <p:growl id="msgs" showDetail="true" />

                        <p:dataTable id="basicDT" var="doc" value="#{docRev2Bean.documentosRev2}" paginator="true" >
                            <f:facet name="header">
                                Documentos a revisar
                            </f:facet>
                            <p:column headerText="id_documento">
                                <h:outputText value="#{doc.idDocumento}" />
                            </p:column>
                            <p:column headerText="Nombre">
                                <h:outputText value="#{doc.nombre}" />
                            </p:column>
                            <p:column headerText="Creador">
                                <h:outputText value="#{doc.idUsuario}" />
                            </p:column>
                            <p:column headerText="Fecha_creación">
                                <h:outputText value="#{doc.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/> 
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Estatus">
                                <h:outputText value="Segunda revisón" rendered="#{doc.status eq 1}" />
                            </p:column>
                            <p:column style="width:40px;text-align: center">
                                <p:commandButton  actionListener="#{verDocRev1Bean.ver(event)}" icon="ui-icon-search" 
                                                  title="Ver documento" 
                                                  ajax="false" onclick="target='_blank'" >
                                    <f:param name="id_documento" value="#{doc.idDocumento}"></f:param>
                                    <f:ajax render="@form"/>
                                </p:commandButton>
                            </p:column>
                            
                            <p:column style="width: 40px; text-align: center">
                                <p:commandButton icon="ui-icon-check" title="Aprobar"></p:commandButton>
                            </p:column>
                        </p:dataTable><br/>

                        <div align="right">
                            <p:commandButton value="Agrega observación"
                                icon="ui-icon-pencil" title="Agregar Observacion" 
                                action="/dialogViews/agregaObsDF2"
                                onclick="target = '_blank'" ajax="false"/>
                        </div>
                    </h:form>
                    <br/>
                </div>


            </ui:define>

           <!-- <ui:define name="pie">
                <ui:include src="template/footer.xhtml"/>
            </ui:define>-->
        </ui:composition>
    </h:body>
</html>

