<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title><ui:insert name="titulo">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>

    <h:body>
        <p:growl id="growl" life="10000"  />
        <p:layout fullPage="true">
            
           <p:layoutUnit position="west" minSize="" style="background-color: #e8e8e8; border: none;">
                <ui:insert name="lado">
                    <ui:include src="ladoIzdo.xhtml"/>
                </ui:insert>
            </p:layoutUnit> 

            <p:layoutUnit position="center" size="350">
                <div id="contenido" align="center">
                    <ui:insert name="contenido"/>
                </div>
            </p:layoutUnit>

            <p:layoutUnit position="south" style="border:none; padding: 0px">
                <ui:insert name="pie">
                    <ui:include src="footer.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

