<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="titulo">SD || Seguimiento Documentos</ui:define>



            <ui:define name="west">
                <ui:include src="template/ladoIzdo.xhtml"/>
            </ui:define> 

            <ui:define name="contenido" class="BGC">
                <div align="left" style="background-color: #d6d4d4; align-content:left ;height:30px ;width: 100%">
                    <h:outputLabel class="h1" value="Bienvenido al Sistema de Seguimiento del documento"/>    
                </div>
                <div align="center" style="background-color: #f6f6f6; height:100%; width: 100%">
                    <br/>
                    <h:form>
                        <p:panel header="Login" >
                            <br/>
                            <p:panelGrid columns="2"   >
                                <p:outputLabel value="Ingresa tu correo"/>
                                <p:inputText id="usr" value="#{loginBean.correo}"/>
                                <p:outputLabel value="Ingresa la contraseña"/>
                                <p:password  value="#{loginBean.password}"/>


                            </p:panelGrid>
                            <br/>

                            <h:form>
                                <p:commandButton class="button" ajax="false" value ="login" action="#{loginBean.login()}" />
                            </h:form>


                        </p:panel>

                        <p:link outcome="registro" value="Nuevo Registro">

                        </p:link>
                    </h:form>
                    <br/>
                    <br/>                    

                    <br/>
                </div>
                <div>
                    <p:panel style="background-color: #f6f6f6">

                    </p:panel>
                </div>

            </ui:define>




            <ui:define name="pie">
                <ui:include src="template/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

