<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background-color: #e8e8e8">
        <div style="background-color: #d6d4d4; height:100%; width: 63px">
        <p:graphicImage library="img" name="ladoizq00.png" />
        </div>
        <!--
        <p:panel style="background-color: darkslateblue; height: 98%; width: 255px">
            <p:outputLabel value="Conoce a nuestros cuates" style="margin-left: 2%; color: white;
                           font-style: italic; font-size: 20px; font-family: Gill"/>
            
            <div>
                <p:carousel style="margin-top: 50%; margin-left: 15%;" autoPlayInterval="1000"
                            numVisible="1" effect="easeInStrong" vertical="true" circular="true">
                                
                    <p:graphicImage library="img" name="imagen2.JPG" width="150" height="100"/>
                    <p:graphicImage library="img" name="imagen1.jpg" width="150" height="100"/>
                    <p:graphicImage library="img" name="imagen3.JPG" width="150" height="100"/>
                    
                </p:carousel>
            </div>
        </p:panel>
        -->
    </h:body>
</html>

