/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/04/2016, 08:06:54 AM
    Author     : Richie
*/

.headerEntrada, .footerEntrada{
    background-color: #7d7777;
    color: #fff;
}
.BGC{
    background-color: #d6d4d4;
}

.h1{
    color: #b3bb2d;
    font-size: 24px;
    font-family: Estrangelo Edessa;
}

.h2{
    color: #979d3a;
    font-size: 22px;
    font-family: Estrangelo Edessa;
}

.text{
    font-size: 18px;
    color: #76777a;
    align-content: left;
}

.panel{
    background-color: #6FE877;
    margin-top: 120px;
    margin-bottom: 150px;
}

#img{
    width: 300px;
    height: 200px;
}