<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Actualizar Documento</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>

    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="contenido" class="BGC">
                <h:form enctype="multipart/form-data" >
                    <p:growl id="messages" showDetail="true" />

                    <h:panelGrid columns="1" >

                        <h:outputLabel class="text" value="Nombre "/> 
                        <p:inputText id="nom" label="nom" required="true"
                                     value="#{updateDoc.nombre}"/>


                        <p:inputText id="doc" label="doc" required="true" readonly="true"
                                     value="#{updateDoc.file}" style="display: none"/>


                        <p:inputText id="revi1" label="revi1" required="true"  readonly="true"
                                     value="#{updateDoc.idRev1}" style=" display: none"/>


                        <p:inputText id="revi2" label="revi2" required="true" readonly="true"
                                     value="#{updateDoc.idRev2}" style="display: none"/>

                        <h:outputLabel class="text" value="Fecha"/> 
                        <h:outputLabel value="#{updateDoc.fecha}">
                            <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/>
                        </h:outputLabel>

                        <br/>
                        <p:fileUpload  mode="simple"/>
                        <br/>        
                        <p:commandButton value="Subir" ajax="false" action="#{updateDoc.saveUpdate(updateDoc, updateDoc.idDoc)}"/>
                    </h:panelGrid>


                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
