<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Agrega observación</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="contenido">
            <h:form>
            <p:growl id="msgs" showDetail="true" />
            <h:panelGrid columns="2">
                <h:outputLabel class="text" value="Documento "/>
                <p:selectOneMenu id="idDoc" value="#{revisionBean.selected.idDocumento}" required="true">
                    <f:selectItems value="#{revisionBean.itemsAvailableSelectOneD}"
                                   var="idDoc"
                                   itemValue="#{idDoc}"/>
                                   
                </p:selectOneMenu>
                <h:outputLabel class="text" value="Revisor "/>
                <p:selectOneMenu id="idrevi" value="#{revisionBean.selected.idRevisor}" required="true">
                    <f:selectItems value="#{revisionBean.itemsAvailableSelectOneR}"
                                   var="idRev"
                                   itemValue="#{idRev}"/>
                                  
                </p:selectOneMenu>
                <h:outputLabel class="text" value="Página: "/> 
                <p:inputText id="pag" label="pag" required="true" value="#{revisionBean.selected.pagina}">
                    <p:tooltip for="pag" value="Introduzca el número de página"/>
                </p:inputText>

                <h:outputLabel class="text" value="Párrafo:"/> 
                <p:inputText id="parrafo" label="parrafo" required="true" value="#{revisionBean.selected.parrafo}">
                    <p:tooltip for="parrafo" value="Introduzca el número de párrafo"/>
                </p:inputText>

                <h:outputLabel class="text" value="Comentario: "/> 
                <p:inputTextarea id="comentario" rows="10" cols="30"  
                                 queryDelay="750" minQueryLength="4" value="#{revisionBean.selected.comentarios}">
                  <p:tooltip for="comentario" value="Introduzca el comentario"/> 
                </p:inputTextarea>

                <div align="right"> 
                    <p:commandButton value="Enviar" 
                                     action="#{revisionBean.agregaObs()}"
                                     update="revisiones" ajax="false"></p:commandButton>
                </div>
                
                
            </h:panelGrid>
            <h:panelGrid columns="1">
                <p:dataTable id="revisiones" var="rev" value="#{revisionBean.revisiones}" paginator="true" >
                            <f:facet name="header">
                                Observaciones
                            </f:facet>
                            <p:column headerText="Fecha" id="fechaRev" >
                                <h:outputText value="#{rev.fecha}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Página" id="paginas">
                                <h:outputText value="#{rev.pagina}" />
                            </p:column>
                            <p:column headerText="Párrafo" id="parrafo">
                                <h:outputText value="#{rev.parrafo}" />
                            </p:column>
                            <p:column headerText="Comentario" id="comentario">
                                <h:outputText value="#{rev.comentarios}" />
                            </p:column>
                            <p:column headerText="Revisor" id="fecha">
                                <h:outputText value="#{rev.idRevisor.nombre}"/>
                            </p:column>

                            <p:column style="width:40px;text-align: center">
                                <h:commandButton   value="OK" title="Realizada" 
                                                   action="#{revisionBean.eliminaObs(rev.idRevision)}" />
                            </p:column>
                        </p:dataTable>
            </h:panelGrid>
        </h:form>
        </ui:define>
            
        </ui:composition>
        
    </h:body>
</html>

