<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Ver observaciones</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">

            <ui:define name="contenido">
                <h:form>
                    <h:panelGrid columns="1">
                        <p:dataTable id="revisiones" var="rev" value="#{revisionBean.revisiones}" paginator="true" >
                            <f:facet name="header">
                                Observaciones
                            </f:facet>
                            <p:column headerText="Fecha" id="fechaRev" >
                                <h:outputText value="#{rev.fecha}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Página" id="paginas">
                                <h:outputText value="#{rev.pagina}" />
                            </p:column>
                            <p:column headerText="Párrafo" id="parrafo">
                                <h:outputText value="#{rev.parrafo}" />
                            </p:column>
                            <p:column headerText="Comentario" id="comentario">
                                <h:outputText value="#{rev.comentarios}" />
                            </p:column>
                            <p:column headerText="Revisor" id="fecha">
                                <h:outputText value="#{rev.idRevisor.nombre}"/>
                            </p:column>

                            <p:column style="width:40px;text-align: center">
                                <h:commandButton   value="OK" title="Realizada" 
                                                   action="#{revisionBean.eliminaObs(rev.idRevision)}" />
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>
                </h:form>  
            </ui:define>
        </ui:composition>

    </h:body>
</html>

