<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="titulo">SD || Seguimiento Documentos - Creador</ui:define>

            <!-- 
            <ui:define name="header">
                <ui:include src="template/header.xhtml"/>
            </ui:define>
            -->

            <ui:define name="west">
                <ui:include src="template/ladoIzdo.xhtml"/>
            </ui:define> 
 
            <ui:define name="contenido" class="BGC">
                <div align="left" style="background-color: #d6d4d4; align-content:left ;height:30px ;width: 100%">
                    <h:outputLabel class="h1" value="Bienvenido al Sistema de Seguimiento del documento"/>    
                </div>
                <div align="" style="background-color: #f6f6f6; height:100%; width: 100%">
                    <br/>
                 
                </div>
                
                <h:form>          
 
    
    <p:dataTable id="tabla" var="documentos" >
        <f:facet name="header">
            Documentos
        </f:facet>
        <p:column headerText="Id">
            <h:outputText value="hola" />
        </p:column>
        <p:column headerText="Nombre de Documento">
            <h:outputText value="buen dia" />
        </p:column>
        <p:column headerText="Creador">
            <h:outputText value="soy lili" />
        </p:column>
        <p:column headerText="Status ">
            <h:outputText value="ejemplo" />
        </p:column>
        <p:column style="width:32px;text-align: center">
            <p:selectBooleanCheckbox value=" " />
            
        </p:column>
    </p:dataTable>
             

 
</h:form>
                
                   <h:form>
               <p:commandButton class="button" ajax="false" value ="logout" action="#{loginBean.logout()}" />
                </h:form>
                
                <div>
                    <p:panel style="background-color: #f6f6f6">
                        
                    </p:panel>
                </div>
     
            </ui:define>

            
        </ui:composition>
    </h:body>
</html>