<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Actualizar Documento</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>

    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="contenido" class="BGC">
                <h:form enctype="multipart/form-data" >
                    <p:growl id="messages" showDetail="true" />

                    <h:panelGrid columns="1" >


                        <p:inputText id="idoc" label="idoc" required="true"
                                     value="#{updateStatus.idDoc}" style="display: none"/>

                        <p:inputText 
                            value="#{updateStatus.nombre}" style="display: none"/>                      
                        <h:outputLabel value="Estatus"/>
                        <p:inputText value="#{updateStatus.status}" required="true"/>
                        
                        
                     



                        <hr></hr> 

                        <h:outputLabel class="text" value="Fecha"/> 
                        <h:outputLabel value="#{updateStatus.fecha}">
                            <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/>
                        </h:outputLabel>
                        <hr></hr> 
                        <br/>

                        <br/>        
                        <!--<p:commandButton value="Subir" ajax="false" "/>-->

                        <p:commandButton ajax="false" value="Aceptar" action="#{updateStatus.saveUpdateS(updateStatus, updateStatus.idDoc)}"/>
                    </h:panelGrid>


                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
