<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Actualizar Documento</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>

    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="contenido" class="BGC">
                <h:form enctype="multipart/form-data" >
                    <p:growl id="messages" showDetail="true" />

                    <h:panelGrid columns="1" >

                        
                        <p:inputText id="idoc" label="idoc" required="true"
                                     value="#{updateDoc.idDoc}" style="display: none"/>
                        
                     

                        <h:outputLabel class="text" value="Nombre "/> 
                        <p:inputText id="nom" label="nom" required="true"
                                     value="#{updateDoc.nombre}"/>
                        
                        <hr></hr>                      
                        <h:outputLabel value="Estatus"/>
                        <h:outputText value="Primera revisón" rendered="#{updateDoc.status eq 0}" />
                        <h:outputText value="Segunda revisón" rendered="#{updateDoc.status eq 1}" />
                        <h:outputText value="Autorizado" rendered="#{updateDoc.status eq 2}" />
                        
                        <hr></hr> 
                        
                        <h:outputLabel class="text" value="Fecha"/> 
                        <h:outputLabel value="#{updateDoc.fecha}">
                            <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/>
                        </h:outputLabel>
                        <hr></hr> 
                        <br/>
                        <p:fileUpload  mode="simple" value="#{updateDoc.file}"/>
                        <br/>        
                        <!--<p:commandButton value="Subir" ajax="false" "/>-->

                        <p:commandButton ajax="false" value="Subir" action="#{updateDoc.saveUpdate(updateDoc, updateDoc.idDoc)}"/>
                    </h:panelGrid>


                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
