<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="titulo">SD || Seguimiento Documentos - Creador</ui:define>

            <!-- 
            <ui:define name="header">
                <ui:include src="template/header.xhtml"/>
            </ui:define>
            -->

            <ui:define name="west">
                <ui:include src="template/ladoIzdo.xhtml"/>
            </ui:define> 
 
            <ui:define name="contenido" class="BGC">
                <div align="left" style="background-color: #d6d4d4; align-content:left ;height:30px ;width: 100%">
                    <h:outputLabel class="h1" value="Bienvenido al Módulo de Seguimiento del documento"/>    
                </div>
                <div align="" style="background-color: #f6f6f6; height:100%; width: 100%">
                    <br/>
                    <h:outputLabel class="text" value="Para subir una propuesta de documento por 
                                   favor selecciona un archivo y continua dando clic en subir"/>
                    <br/>
                    <br/>                    
                    <p:panelGrid columns="1">
                        <h:form>
                        <h:outputLabel class="text" value="Nombre del archivo: "/> 
                        <p:inputText id="nombredoc" label="nombredoc" required="true" value="">
                            <p:tooltip for="nombredoc" value="Introduzca el nombre del documento"/>
                        </p:inputText>
                        </h:form>
                        

           <h:form>
               <p:commandButton class="button" ajax="false" value ="logout" action="#{loginBean.logout()}" />
       </h:form>
                    </p:panelGrid>
                    <br/>
                </div>
                <div align="Left" style="background-color: #d6d4d4">
                    <h:outputLabel class="h2" value="Historial"/>
                </div>
                <div>
                    <p:panel style="background-color: #f6f6f6">
                        
                    </p:panel>
                </div>
            </ui:define>

            
        </ui:composition>
    </h:body>
</html>

