<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="titulo">SD || Seguimiento Documentos - Creador</ui:define>

            <!-- 
            <ui:define name="header">
                <ui:include src="template/header.xhtml"/>
            </ui:define>
            -->

            <ui:define name="west">
                <ui:include src="template/ladoIzdo.xhtml"/>
            </ui:define> 

            <ui:define name="contenido" class="BGC">
                <h:form>
                    <div align="right">
                        <p:commandButton value="Salir"></p:commandButton>
                    </div>
                </h:form>
                <div align="left" style="background-color: #d6d4d4; align-content: left; height:30px ;width: 100%">
                    <h:outputLabel class="h1" value="Bienvenido al Módulo de Seguimiento del documento"/>    
                </div>
                <div align="" style="background-color: #f6f6f6; height:100%; width: 100%">
                    <br/>
                    <h:outputLabel class="text" value="Para subir un documento por 
                                   favor llena los campos correspondientes y continua dando clic en subir"/>
                    <br/> <br/>                    

                    <h:form enctype="multipart/form-data">
                        <p:growl id="msgs" showDetail="true" />
                        <h:panelGrid columns="2">
                            <h:outputLabel class="text" value="Nombre del documento: "/> 
                            <p:inputText id="nombredoc" label="nombredoc" required="true" value="#{documentoBean.nombre}">
                                <p:tooltip for="nombredoc" value="Introduzca el nombre del documento"/>
                                <f:validateLength minimum="2" />
                            </p:inputText>
                            <p:outputLabel class="text" value="Primer revisor:  " />
                            <p:selectOneMenu required="true" id="rev"  style="width:220px">
                                <f:selectItem itemLabel="Selecciona un revisor" itemValue=""  />
                                <f:selectItems  value="#{revisoresUnoBean.revisores}" var ="r" itemLabel="#{r.nombre}" itemValue="#{r.id}" />
                            </p:selectOneMenu>

                            <p:outputLabel class="text" value="Segundo revisor:  " />
                            <p:selectOneMenu id="rev2" required="true" style="width:220px">
                                <f:selectItem itemLabel="Selecciona un revisor" itemValue=""  />
                                <f:selectItems  value="#{revisoresDosBean.revisores}" var ="r" itemLabel="#{r.nombre}" itemValue="#{r.id}" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <h:panelGrid columns="1">
                            <p:fileUpload required="true"  value="#{documentoBean.file}" mode="simple"/>
                            <p:commandButton value="Subir" action="#{documentoBean.upload()}" ajax="false"/>
                        </h:panelGrid>
                        <br/><br/>

                    </h:form>

                    <h:form>
                        <h:panelGrid columns="1">
                            <p:dataTable id="docTable" var="doc" value="#{updateDoc.documentos}" paginator="true" >
                                <f:facet name="header">
                                    Historial de Documentos
                                </f:facet>
                                <p:column headerText="IdDoc" id="idDoc" style="width: 50px">
                                    <h:outputText value="#{doc.idDocumento}" />
                                </p:column>
                                <p:column headerText="Nombre" id="nombre">
                                    <h:outputText value="#{doc.nombre}" />
                                </p:column>
                                <p:column headerText="Revisor 1" id="revisor1">
                                    <h:outputText value="#{doc.idRev1}" />
                                </p:column>
                                <p:column headerText="Revisor 2" id="revisor2">
                                    <h:outputText value="#{doc.idRev2}" />
                                </p:column>
                                <p:column headerText="Fecha de creación" id="fecha">
                                    <h:outputText value="#{doc.fechaCreacion}">
                                        <f:convertDateTime pattern="dd/MM/yyyy -  HH:mm:ss"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Estatus" id="status">
                                    <h:outputText value="Primera revisón" rendered="#{doc.status eq 0}" />
                                    <h:outputText value="Segunda revisón" rendered="#{doc.status eq 1}" />
                                    <h:outputText value="Autorizado" rendered="#{doc.status eq 2}" />
                                </p:column>
                                <p:column style="width:40px;text-align: center">
                                    <p:commandButton  icon="ui-icon-search" title="Observaciones" 
                                                      onclick="target = '_blank'" 
                                                      action="#{revisionBean.revDoc(doc.idDocumento)}" 
                                                      ajax="false"/>


                                </p:column>
                                <p:column style="width: 40px; text-align: center">
                                    <p:commandButton icon="ui-icon-pencil" 
                                                     title="Actualizar" onclick="target = '_blank'" 
                                                     action="#{updateDoc.update(doc.idDocumento)}" 
                                                     ajax="false" />
                                </p:column>
                                <p:column style="width:60px; text-align: center">
                                    <h:commandButton   value="Borrar" title="Eliminar documento" 
                                                       action="#{updateDoc.eliminaDoc(doc.idDocumento)}" />
                                </p:column>
                            </p:dataTable>
                            <p:commandButton  value="Actualizar" update="docTable" ajax="false"/>
                        </h:panelGrid>
                    </h:form>
                    <br/>
                </div>
            </ui:define>

            <ui:define name="pie">
                <ui:include src="template/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

