<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>TODO supply a title</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
        
    </h:head>
    <h:body>
        <ui:composition template="/template/master_1.xhtml">
            <ui:define name="titulo">SD || Registro de usuario</ui:define>
            
            <ui:define name="contenido" class="BGC">
<!--                <f:event type="preRenderView" listener="#{usuariosController.prepareCreate()}"/>-->
                <div align="center" style="background-color: #d6d4d4; align-content:left ;height:30px ;width: 100%">
                    <h:outputLabel class="h1" value="Bienvenido" style="color: #7d7777"/>    
                </div>
                <p:spacer/>
                <p:spacer/>
                <p:spacer/>
                <p:spacer/>
                <h:form id="createUser">
                    <h:panelGroup id="display">
                        <p:panelGrid columns="2" style="border-width: 0px">
                        <p:outputLabel value="Nombres:" for="nombres"/>
                        <p:inputText id="nombres" value="" required="true" maxlength="45">
                            <f:validateRegex pattern="[a-zA-Z ]+$"/>
                            <p:tooltip for="nombres" value="Solo se aceptan letras y espacios."/>
                        </p:inputText>
                        <p:outputLabel value="Apellidos:" for="apellidos"/>
                        <p:inputText id="apellidos" value="" required="true" maxlength="60">
                            <f:validateRegex pattern="[a-zA-Z ]+$"/>
                            <p:tooltip for="apellidos" value="Solo se aceptan letras y espacios."/>
                        </p:inputText>
                        <p:outputLabel value="Correo:" for="correo"/>
                        <p:inputText id="correo" value="" required="true" maxlength="60">
                            <f:validateRegex pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$"/>
                            <p:tooltip for="correo" value="Letras, números, . , - , _ y @."/>
                        </p:inputText>
                        <p:outputLabel value="Password:" for="password"/>
                        <p:password id="password" value="" required="true" maxlength="10">
                            <p:tooltip for="password" value="Máximo 10 caracteres."/>
                        </p:password>
                        <p:outputLabel value="Tipo:" for="tipo"/>
                        <p:selectOneButton id="tipo" required="true" value="">
                            <f:selectItem itemValue="1" itemLabel="Creador" />
                            <f:selectItem itemValue="2" itemLabel="Revisor" />
                            <f:selectItem itemValue="3" itemLabel="Autorizador"/>
                        </p:selectOneButton>
                    </p:panelGrid>
                        
                    </h:panelGroup>
                    <p:separator/>
                        <p:commandButton styleClass="button" actionListener="login" value="Guardar" update="display, :growl"/>
                        <p:commandLink value="Regresar" action="login"/>
                        <p:commandButton actionListener="login" value="Guardar" update="display, :growl"/>
                </h:form>
            </ui:define>    
        </ui:composition>
    </h:body>
</html>

