<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DocumentosEditDlg" widgetVar="DocumentosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDocumentosTitle}">
            <h:form id="DocumentosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{documentosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDocumentosLabel_idDocumento}" for="idDocumento" />
                        <p:inputText id="idDocumento" disabled="true" value="#{documentosController.selected.idDocumento}" title="#{bundle.EditDocumentosTitle_idDocumento}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_idDocumento}"/>
                        <p:outputLabel value="#{bundle.EditDocumentosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{documentosController.selected.nombre}" disabled="true" title="#{bundle.EditDocumentosTitle_nombre}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditDocumentosLabel_fechaCreacion}" for="fechaCreacion" />
                        <p:calendar id="fechaCreacion" disabled="true" pattern="MM/dd/yyyy HH:mm:ss" value="#{documentosController.selected.fechaCreacion}" title="#{bundle.EditDocumentosTitle_fechaCreacion}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_fechaCreacion}" showOn="button"/>
<!--                    <p:outputLabel value="#{bundle.EditDocumentosLabel_documento}" for="documento" />
                        <p:inputTextarea rows="4" cols="30" disabled="true" id="documento" value="#{documentosController.selected.documento}" title="#{bundle.EditDocumentosTitle_documento}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_documento}"/>-->                        
<!--                    <p:outputLabel value="#{bundle.EditDocumentosLabel_status}" for="status" />
                        <p:inputText id="status" disabled="true" value="#{documentosController.selected.status}" title="#{bundle.EditDocumentosTitle_status}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_status}"/>-->
<!--                    <p:outputLabel value="#{bundle.EditDocumentosLabel_fechaAutorizacion}" for="fechaAutorizacion" />
                        <p:calendar id="fechaAutorizacion" disabled="true" pattern="MM/dd/yyyy HH:mm:ss" value="#{documentosController.selected.fechaAutorizacion}" title="#{bundle.EditDocumentosTitle_fechaAutorizacion}"  showOn="button"/>-->
<!--                        <p:outputLabel value="#{bundle.EditDocumentosLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{documentosController.selected.idUsuario}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_idUsuario}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditDocumentosLabel_idRev2}" for="idRev2" />
                        <p:selectOneMenu id="idRev2" value="#{documentosController.selected.idRev2}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_idRev2}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idRev2Item"
                                           itemValue="#{idRev2Item}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditDocumentosLabel_idRev1}" for="idRev1" />
                        <p:selectOneMenu id="idRev1" value="#{documentosController.selected.idRev1}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_idRev1}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idRev1Item"
                                           itemValue="#{idRev1Item}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditDocumentosLabel_idAutorizador}" for="idAutorizador" />
                        <p:selectOneMenu id="idAutorizador" value="#{documentosController.selected.idAutorizador}" required="true" requiredMessage="#{bundle.EditDocumentosRequiredMessage_idAutorizador}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idAutorizadorItem"
                                           itemValue="#{idAutorizadorItem}"/>
                        </p:selectOneMenu>-->
                        
                        <p:selectOneButton required="false" value="#{documentosController.selected.status}" id="status">
                            <f:selectItem itemLabel="No aceptado" itemValue="0"/>
                            <f:selectItem itemLabel="Aceptado" itemValue="1"/>
                        </p:selectOneButton>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{documentosController.update}" value="#{bundle.Save}" update="display,:DocumentosListForm:datalist,:growl, :DocumentosListForm" oncomplete="handleSubmit(args, 'DocumentosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DocumentosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>   
</html>
