<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocumentosViewDlg" widgetVar="DocumentosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDocumentosTitle}">
            <h:form id="DocumentosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{documentosController.selected != null}">
                        <h:outputText value="#{bundle.ViewDocumentosLabel_idDocumento}"/>
                        <h:outputText value="#{documentosController.selected.idDocumento}" title="#{bundle.ViewDocumentosTitle_idDocumento}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_nombre}"/>
                        <h:outputText value="#{documentosController.selected.nombre}" title="#{bundle.ViewDocumentosTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_documento}"/>
                        <h:outputText value="#{documentosController.selected.documento}" title="#{bundle.ViewDocumentosTitle_documento}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_fechaCreacion}"/>
                        <h:outputText value="#{documentosController.selected.fechaCreacion}" title="#{bundle.ViewDocumentosTitle_fechaCreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_status}"/>
                        <h:outputText value="#{documentosController.selected.status}" title="#{bundle.ViewDocumentosTitle_status}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_fechaAutorizacion}"/>
                        <h:outputText value="#{documentosController.selected.fechaAutorizacion}" title="#{bundle.ViewDocumentosTitle_fechaAutorizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_idUsuario}"/>
                        <h:outputText value="#{documentosController.selected.idUsuario}" title="#{bundle.ViewDocumentosTitle_idUsuario}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_idRev2}"/>
                        <h:outputText value="#{documentosController.selected.idRev2}" title="#{bundle.ViewDocumentosTitle_idRev2}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_idRev1}"/>
                        <h:outputText value="#{documentosController.selected.idRev1}" title="#{bundle.ViewDocumentosTitle_idRev1}"/>
                        <h:outputText value="#{bundle.ViewDocumentosLabel_idAutorizador}"/>
                        <h:outputText value="#{documentosController.selected.idAutorizador}" title="#{bundle.ViewDocumentosTitle_idAutorizador}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DocumentosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
